@import '../../consts.scss';

.our-projects {
    height: 620px;
    display: flex;
    flex-direction: column;
    
    .slick-list {
        width: 90%;
        margin: 0 auto;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 40px;
        color: $main-color;
    }
}