.video-block {
    position: relative;
    width: 100%;
    height: 31.25rem;
    &__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: #000;
    }
    &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }

    &__overlay {
        color: #fff;
        font-family: 'Oxygen', sans-serif;
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 100%;
        max-width: 45em;
        box-sizing: border-box;
        padding: 2rem;
        line-height: 1.5;
        text-align: center;
        transform: translateX(-50%);
        background-color: rgba(122, 122, 122, 0.4);
      
      }
  }