@import "!variables.scss";


.our-menu {
  width: 100%;
  height: 660px;
  position: relative;
  margin-bottom: 90px;
  font-family: 'PT Sans Caption', sans-serif;
  &__heading {
    display: block;
    font-family: $heading-font;
    font-size: 80px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    color: black;
      &::after {
        position: absolute;
        content: "";
        width: 120px;
        height: 2px;
        bottom: 10px;
        margin-left: -175px;
        background-color: $text-hover-color;
      }
    }
    &__full-menu {
      display: block;
      position: absolute;
      top: 33px;
      right: 0;
      background-color: #E30000;
      width: 190px;
      height: 30px;
      border-radius: 20px;
      text-align: center;
      line-height: 33px;
      &:hover {
        cursor: pointer;
        opacity: .5;
        margin-top: 3px;
      }
    }
  }

.our-menu__wrapper {
  height: 85%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.our-menu__variant {
  height: 100%;
  width: 25%;
  background-image: url(../img/menu/appetizer.jpg);
  background-size: cover;
  position: relative;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: ease-in .5s;
    z-index: 1;
    & .our-menu__desc {
      background-color: rgba(122, 122, 122, 0.5);
      height: 100%;
    }
    & .our-menu__title {
      transform: translateY(200px);
      transition: ease-in .2s;
      bottom: 10px;
    }
    & .our-menu__separate-menu {
      display: inline-block;
    }
  }
}

.our-menu__separate-menu {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  text-align: center;
  width: 110px;
  margin: auto;
  background-color: #E30000;
  display: none;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    margin-top: 3px;
  }
}
.our-menu__desc {
  width: 100%;
  height: 50px;
  background-color: rgba(122, 122, 122, 0.5);
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.menu__pasta {
  background-image: url(../img/menu/pasta.jpg);
}

.menu__pizza {
  background-image: url(../img/menu/pizza.jpg);
}

.menu__dessert {
  background-image: url(../img/menu/dessert.jpg);
}

.hide-food-online-btn {
  display: block;
  float: left;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  background: $menu-text-color url(../img/header/to-top-arrow.svg) 10px 10px no-repeat;
  transform: rotate(90deg);
  &:hover {
    background-color: $text-hover-color;
  }
  &_animate {
    transform: rotate(0deg);
    transition: .5s;
  }
}

.food-online-heading {
  width: 400px;
  height: 50px;
  display: block;
  float: left;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-menu {
    height: 500px;
    margin-bottom: 10px;
    &__full-menu {
      top: 64px;
      width: 26%;
      font-size: 12px;
    }
    &__wrapper {
      height: 64%;
    }
    &__title {
      vertical-align: middle;
      font-size: 16px;
    }
    &__desc {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 22px;
    }
    &__variant:hover .our-menu__title {
      transform: translateY(60px);
    }
    &__separate-menu {
      font-size: 15px;
    }
  }

}
