.footer {
  width: 100%;
  height: 150px;
  background: url(../img/footer/pasta-tomato-footer.jpg) 0 0 no-repeat;
  background-size: cover;
  font-family: "PT Sans Caption", sans-serif; }
  .footer-wrapper {
    position: relative;
    background-color: rgba(122, 122, 122, 0.5);
    width: 90%;
    color: black;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .footer__heading {
    margin-bottom: 10px;
    color: black; }

.contacts__street:hover, .contacts__phone:hover, .contacts__email:hover {
  color: black; }

.footer__copy {
  display: block;
  width: 20%; }

.social-media {
  font-style: "PT Sans Caption", sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; }
  .social-media__facebook {
    background: url(../img/footer/facebook.svg); }
    .social-media__facebook:hover {
      background: url(../img/footer/facebook-hover.svg); }
  .social-media__vkontakte {
    background: url(../img/footer/vk.svg); }
    .social-media__vkontakte:hover {
      background: url(../img/footer/vk-hover.svg); }
  .social-media__instagram {
    background: url(../img/footer/instagram.svg);
    background-color: #fff; }
    .social-media__instagram:hover {
      background: url(../img/footer/instagram-hover.svg);
      background-color: #6A453B; }
  .social-media__pinterest {
    background: url(../img/footer/pinterest.svg); }
    .social-media__pinterest:hover {
      background: url(../img/footer/pinterest-hover.svg); }

.app-link__apple {
  background: url(../img/footer/apple.svg); }

.app-link__android {
  background: url(../img/footer/android.svg); }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    height: 250px; }
    .footer-wrapper {
      width: 95%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start; }
    .footer__contacts {
      float: left;
      margin: 10px 10px 0 0; }
    .footer__social-media {
      float: left;
      margin: 0 10px;
      margin-top: 10px; }
    .footer__app-link {
      float: left;
      margin: 10px -10px 0; }
    .footer__copy {
      width: 100%;
      display: block;
      clear: both;
      text-align: center;
      margin: 0 auto; } }
